
<table>
  <tr>
    <th>Tên</th>
    <th>Thời gian</th>
    <th>Công việc</th>
    <th>Ngày</th>
    <th>Khách hàng</th>
    <th>Số tiền</th>
    <th>Nội dung</th>
  </tr>
  <% @form1.each do |form1| %>
    <tr>
      <td><%= form1.name %></td>
      <td><%= form1.time_work %></td>
      <td><%= form1.job %></td>
      <td><%= form1.date %></td>
      <td><%= form1.customer %></td>
      <td><%= form1.income %></td>
      <td><%= form1.work_des%></td>
    </tr>
  <% end %>
</table>
<br>
<br>
<%= link_to 'Back', current_user ,class: "btn btn-lg btn-info"%>