<% provide(:title, "Edit user") %>
<h1>Cập nhật thông tin cá nhân</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name, "Tên" %>
      <%= f.text_field :name, class: 'form-control'%>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', :disabled => true %>
      <%= f.label :password, "Mật khẩu" %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, "Xác nhận mật khẩu" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <span class="content">
        <%= f.label :image, "Avatar mới" %>
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
      </span>
      <%= f.submit "Cập nhật", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
