<% provide(:title, 'All users') %>
<h1 style="color: #0066cc;">Danh sách người dùng</h1>
<ul class="users">
  <% @user.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%if current_user.admin?%>
        <%= link_to user.name, user %>
        <% if !current_user?(user) %>
          <%= link_to "Xóa", user, method: :delete,
                                  data: { confirm: "You sure?" }%>
        <% end %>
      <%else%>
        <%= user.name %>
      <%end%>
      <br>
      <%= user.email %><br/>
      <%= user.admin == true ? "Admin" : "Member"%><br/>
    </li>
  <% end %>
</ul>
