<div class="container-fluid">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner justify-content-center" id="carousel-report">
      <div class="carousel-item active">
        <h1 style="color: blue; font-weight:bold;">Làm tự do</h1>
        <table id="table1" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>STT</th>
              <th>Trong khoảng thời gian</th>
              <th>Công việc</th>
              <th>Ngày làm</th>
              <th>Khách hàng</th>
              <th>Số tiền</th>
              <th>Mô tả công việc</th>
            </tr>
          </thead>
          <%count=1%>
          <tbody>
            <% @user.form1s.each do |form1| %>
              <tr>
                <td><%= count%></td>
                <td><%= current_user.time_work %></td>
                <td><%= current_user.job %></td>
                <td><%= form1.date %></td>
                <td><%= form1.customer %></td>
                <td><%= number_to_currency(form1.income, :unit => "VNĐ", :separator => ".", :delimiter => ",", format: "%n %u") %></td>
                <td><%= form1.work_des%></td>
                <%count+=1%>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>Tổng cộng:</th>
              <th colspan="6" style="text-align:center"></th>
            </tr>
          </tfoot>
        </table>
        <script language="javascript" type="text/javascript">
          $(document).ready(function() {
              $('#table1').DataTable({
                "footerCallback": function ( row, data, start, end, table ) {
                    var api = this.api(), data;
          
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
          
                    // Total over all pages
                    total = api
                        .column( 5 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
          
                    // Total over this page
                    pageTotal = api
                        .column( 5, { page: 'current'} )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
          
                    // Update footer
                    $( api.column( 5 ).footer() ).html(
                        pageTotal +' (total: '+ total +')'
                    );
                }
              });
          } );
        </script>
      </div>
      <div class="carousel-item">
        <h1 style="color: blue; font-weight:bold;">Làm việc cho công ty</h1>
        <table id="table2" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên công ty</th>
              <th>Mã số thuế</th>
              <th>Địa chỉ</th>
              <th>Vị trí làm việc</th>
              <th>Thời gian làm</th>
              <th>Thu nhập</th>
              <th>Mô tả công việc</th>
            </tr>
          </thead>
          <%count=1%>
          <tbody>
            <% @user.form2s.each do |form2| %>
              <tr>
                <td><%= count%></td>
                <td><%= current_user.companies.last.company_name %></td>
                <td><%= current_user.companies.last.tax_code %></td>
                <td><%= current_user.companies.last.address %></td>
                <td><%= current_user.companies.last.position %></td>
                <td><%= form2.date %></td>
                <td><%= number_to_currency(form2.income, :unit => "VNĐ", :separator => ".", precision: 0, :delimiter => ",", format: "%n %u")%></td>
                <td><%= form2.work_des%></td>
                <%count+=1%>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>Tổng cộng:</th>
              <th colspan="7" style="text-align:center"></th>
            </tr>
          </tfoot>
        </table>
        <script language="javascript" type="text/javascript">
          $(document).ready(function() {
              $('#table2').DataTable({
                "footerCallback": function ( row, data, start, end, table ) {
                    var api = this.api(), data;
          
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
          
                    // Total over all pages
                    total = api
                        .column( 6 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
          
                    // Total over this page
                    pageTotal = api
                        .column( 6, { page: 'current'} )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
          
                    // Update footer
                    $( api.column( 6 ).footer() ).html(
                        pageTotal +' (total: '+ total +')'
                    );
                }
              });
          } );
        </script>
      </div>
      <a class="carousel-control-prev" style="width: 2%;" href="#carouselExampleControls" role="button" data-slide="prev">
        <span style="filter: invert(100%);" class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Trang trước</span>
      </a>
      <a class="carousel-control-next" style="width: 2%;" href="#carouselExampleControls" role="button" data-slide="next">
        <span style="filter: invert(100%);" class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Trang sau</span>
      </a>
    </div>
  </div>
</div>
