<% provide(:title, @user.name) %>
<div class="home-user">
  <%= link_to image_tag("user.png",class: "img-responsive") %>
</div>
<div class="container-user">
<div class="row">
  <aside class="col-md-10">
    <section class="user_info">
      <h1 style="font-family: arial; font-weight: bold; font-size:1.5em;" >
        <div class="profile-container1">
          <%= image_tag @user.display_image if @user.image.attached? %>
        </div>
        <div class="profile-container2">
          Thông tin cá nhân!
          <br>
          Tên: <%= @user.name %>
          <br>
          Email: <%= @user.email %>
        </div>
      </h1>
    </section>
  </aside>
</div>
<div class="user_center">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="user-choosen">
    <button style="font-family: arial;"class="btn btn-success" aria-pressed="true" id="btn1" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"> Làm tự do</button>
    <button style="font-family: arial;"class="btn btn-success" aria-pressed="true" id="btn2" data-target="#carouselExampleIndicators" data-slide-to="1"> Làm tại công ty</button>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h3>
        Nếu bạn làm việc theo kiểu  
        <a style="font-style: italic;" href="https://drive.google.com/file/d/1ucGjhLwVx-uzawQq8bTESnhm36o594Po/view">Tự do</a>
        (xem form mẫu có sẵn).
      </h3>
      <%= link_to "Nhập thông tin", new_user_form1_url(current_user),{:style=>'color:white; font-family:cursive;', :class => "css_class",class: "btn btn-lg btn-primary"}   %>
      <%= link_to "Xem thông tin", user_form1_url(current_user), {:style=>'color:white; font-family:cursive;', :class => "css_class",class: "btn btn-lg btn-primary"}%>
    </div>
    <div class="carousel-item">
      <h3>
        Nếu bạn làm việc theo kiểu 
        <a style="font-style: italic;" href="https://drive.google.com/file/d/1CoOf9gD-YRsq83h7UlNIyRyct5RFmAdM/view">Nhân viên cho công ty</a>
        (xem form mẫu có sẵn).
      </h3>
      <%= link_to "Nhập thông tin", new_user_form2_url(current_user),{:style=>'color:white; font-family:cursive; ', :class => "css_class",class: "btn btn-lg btn-primary"}   %>
      <%= link_to "Xem thông tin", user_form2_url(current_user),{:style=>'color:white; font-family:cursive;', :class => "css_class",class: "btn btn-lg btn-primary"}  %>
      <%= link_to "Nhập thông tin công ty", new_user_company_path(current_user),{:style=>'color:white; font-family:cursive;', :class => "css_class",class: "btn btn-lg btn-primary"}  %>
    </div>
  </div>
</div>
</div>
</div>

