<div class="row">
  <div class="col">
    <%= link_to image_tag("vector1.png",class: "img-responsive") %>
  </div>
  <div class="col" id="container-home">
    <h2>
      Hãy bắt đầu trải nghiệm trang web bằng cách nhấn vào nút đăng kí phía dưới.
    </h2>
    <div class="d-flex justify-content-center">
      <%= link_to "Đăng kí!", signup_path, {:style=>'', :class => "css_class",class: "btn btn-info"} %>
    </div>
  </div>
</div>
<div class="container" id="container-home1">
  <div class="row d-flex justify-content-center" id="container-home1-text1">
    <h2 style="color: #9999ff; font-weight: bold;">
      Về chúng tôi
    </h2>
  </div>
  <div class="row d-flex justify-content-center">
    <h2 style="font-family: arial;">
      Website cho phép bạn điền thông tin công việc đã làm nếu bạn là người làm việc tại nhà hoặc làm việc tại công ty.
    </h2>
  </div>
  <div class="row d-flex justify-content-center">
    <h2 style="font-family: arial;">
      Với website, bạn có thể
    </h2>
  </div>
</div>
<div class="row d-flex justify-content-center" id="container-home2">
  <div class="col-6">
    <%= link_to image_tag("rectangle89.png",class: "img-responsive") %>
  </div>
</div>
<div class="row d-flex justify-content-center" id="container-home5">
  <h2 style="font-family: arial; font-weight: bold;">
    LIÊN HỆ VỚI CHÚNG TÔI
  </h2>
</div>
<div class="row d-flex justify-content-center">
  <%= link_to image_tag("rectangle23.png",class: "img-responsive") %>
</div>
<div class="container-home14">
  <%= link_to image_tag("rectangle91.png",class: "img-responsive") %>
</div>
<div class="container-home15">
  <%= link_to image_tag("rectangle90.png",class: "img-responsive") %>
</div>
<div class="container-home16">
  <%= link_to image_tag("rectangle90.png",class: "img-responsive") %>
</div>
<%# <div class="center jumbotron">
  <h1 style = "font-family: cursive;">Welcome to our website!</h1>

  <h2>
    This page is use for income management purpose ! If you haven't an account, click button below
    .
  </h2>

  <%= link_to "Sign up!", signup_path, {:style=>'font-family:cursive', :class => "css_class",class: "btn btn-info"} %>
<%# </div>
<div class="center">
<%= link_to image_tag("online.jpg",class: "img-responsive", alt: "Rails logo", width: "100%", height: "550"),
"https://onlinesaleswebsite.herokuapp.com/" %>
<%# </div> %>
