<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Tax code</th>
      <th>Address</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_name %></td>
        <td><%= company.tax_code %></td>
        <td><%= company.address %></td>
        <td><%= company.position %></td>
        <td><%= link_to 'Sửa', "/users/#{current_user.id}/companies/#{company.id}/edit" %></td>
        <td><%= link_to 'Xóa', "/users/#{current_user.id}/companies/#{company.id}/", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_user_company_path(current_user) %>
