<p id="notice"><%= notice %></p>

<p>
  <strong>Tên công ty:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Mã thuế:</strong>
  <%= @company.tax_code %>
</p>

<p>
  <strong>Địa chỉ:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Vị trí:</strong>
  <%= @company.position %>
</p>

<%= link_to 'Sửa', "/users/#{current_user.id}/companies/#{company.id}/edit" %> |
<%= link_to 'Trở về', user_company_path(current_user) %>
