<p id="notice"><%= notice %></p>

<p>
  <strong>Tên công ty:</strong>
  <%= current_user.companies.company_name %>
</p>

<p>
  <strong>Mã thuế:</strong>
  <%= current_user.companies.tax_code %>
</p>

<p>
  <strong>Địa chỉ:</strong>
  <%= current_use.companies.address %>
</p>

<p>
  <strong>Vị trí:</strong>
  <%= current_user.companies.position %>
</p>

<%= link_to 'Sửa', "/users/#{current_user.id}/companies/#{company.id}/edit" %> |
<%= link_to 'Trở về', user_company_path(current_user),{:style=>'color: white;', :class => "css_class", class: "btn btn-primary"} %>